*{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
  background: #767676;
  font-family: "Cabin", sans-serif;
}
@font-face {
  font-family: "Rickmorty";
  src: url('../fonts/get_schwifty.ttf');
}